<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Добавление документа</title >
    <link href="/css/mystyle.css" rel="stylesheet">
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/background.css" rel="stylesheet">
    <link href="/css/textcolor.css" rel="stylesheet">
    <script src="https://unpkg.com/imask"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css" />
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
</head>
<body>
<div th:insert="Blocks/Header" style="margin-top: 120px">...</div>
<div class="bg-ex-animation">
    <div class="wrapper">
        <div class="d-flex flex-column align-items-center justify-content-center mt-3">
            <!--        <div th:if="${#messages}" class="display-5 p-2 clear">-->
            <!--            <p th:text="${message}"></p>-->
            <!--        </div>-->
            <p class="display-5 p-2">Добавление пользователя</p>
            <form method="post" th:action="@{/document/add}" class="form col-sm-2" th:object="${documents}" enctype="multipart/form-data">

                <div class="has-error text-danger" th:if="messageException != null" th:text="${messageException}"></div>

                <div class="form-group mt-2">
                    <label for="img" class="label">Изображение паспорта</label>
                    <input id="img" placeholder="Изображение" type="file" class="form-control mt-2" name="file"
                           accept="image/png, image/jpg, image/jpeg">
                </div>
                <div class="has-error text-danger" th:if="errorMessageImage!=null" th:text="${errorMessageImage}"></div>

                <div class="form-group mt-2">
                    <label for="serial" class="label">Серия паспорта</label><br>
                    <input id="serial" placeholder="1111" maxlength="4" class="form-control mt-2 numbers numb" type="text" th:field="*{serialPass}">
                </div>
                <span class="has-error text-danger" th:if="${#fields.hasErrors('serialPass')}" th:errors="*{serialPass}"></span>

                <div class="form-group mt-2">
                    <label for="number" class="label">Номер паспорта</label><br>
                    <input id="number" placeholder="111111" maxlength="6" class="form-control mt-2 numbers numb" type="text" th:field="*{numPass}">
                </div>
                <span class="has-error text-danger" th:if="${#fields.hasErrors('numPass')}" th:errors="*{numPass}"></span>

<!--                <div hidden class="form-group mt-2">-->
<!--                    <label class="form-label">Выберите пользователя</label>-->
<!--                    &lt;!&ndash;      <div style="color: red" th:if="${#fields.hasErrors('users')}" th:errors="*{users}"></div>&ndash;&gt;-->
<!--                    <select onmousedown="return false" onkeydown="return false" th:field="*{clients}"-->
<!--                            name="author" class="form-select" style="width: 400px">-->
<!--                        <option th:each="clients : ${clients}"-->
<!--                                th:if="${(clients.users.username == userAuth)}"-->
<!--                                th:value="${clients.id}"-->
<!--                                th:text="${clients.users.login}">-->
<!--                        </option>-->
<!--                    </select>-->
<!--                </div>-->

                <div class="form-group mt-2 d-flex flex-row align-items-center justify-content-center">
                    <input type="submit" value="Зарегистрировать пользователя" class="btn btn-success mt-2"><br>
                </div>
            </form>
        </div>
    </div>
    <!--    <div class="footer"></div>-->
</div>
</body>
</html>
<script>
    $('body').on('input', '.numbers [maxlength]', function(){
        if (this.value.length > this.maxLength){
            this.value = this.value.slice(0, this.maxLength);
        }
    });
</script>
<script>
    $('body').on('input', '.numb', function(){
        this.value = this.value.replace(/[^0-9]/g, '');
    });
</script>